env:
  node: true

ecmaFeatures:
  blockBindings: true
  forOf: true
  objectLiteralComputedProperties: true
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  objectLiteralDuplicateProperties: true
  generators: true

rules:
  #
  # Code
  #
  quotes: [2, "single"]
  no-global-strict: 0
  no-comma-dangle: 0
  strict: 1
  no-undef: 1
  no-use-before-define: 1

  #
  # Style
  #
  no-mixed-spaces-and-tabs: [1, "smart-tabs"]
  no-spaced-func: 1
  space-after-keywords: [1, "always", { "checkFunctionKeyword": true } ]
  space-before-blocks: 'always'
  space-in-brackets: 'always'

  #
  # ES6
  #
  generator-star: [2, "start"]
