{
  "env": {
    "browser": false,
    "node": true,
    "amd": false,
    "mocha": false
  },

  "settings": {
    "ecmascript": 6
  },

  "rules": {
    "quotes": [2, "single"],
    "no-global-strict": 0,
    "no-comma-dangle": 0,

    "strict": 1,
    "no-undef": 1
  }
}
